body  { background-color : 89AAC0; margin : 0 auto;
  width : 960px;
}
hr { height:5px;
    background-color : A7AA7F; border-style : none;
    color : A7AA7F; border-width = 0px;}
div.box
{
  width : 100px; height : 100px;
  background-color : 6B9196;
}
