body  { background-color : #B8D6CB; margin : 0 auto;
  width : 960px;
}
hr { height:5px;
    background-color : A7AA7F; border-style : none;
    color : A7AA7F; border-width = 0px;}
div.dropdown
{
  width : 100%; height : 200px; absolute : 0px;
  background-color : 95C7BA;
}
